body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: yellow;
}


.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: whitesmoke;
  font-variation-settings:
    "wdth" 100;
}


.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(300deg, #4C0865,  #7E0981,#640579 );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  padding: 2rem;
  box-sizing: border-box;
}
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

span{
  color: #c5f128;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}


.intro {
  width: 30%;
  margin: auto;
}


img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Makes the background fixed while scrolling */
    height: 50vh; /* Make the body take up the full viewport height */
    margin: 10px; /* Remove default body margin */
    width: auto;
    padding: 5px;
    border: 2px solid yellow;

}

.circular-profile-pic {
  width: 150px; /* Or any desired square dimensions */
  height: 150px;
  border-radius: 50%;
  border-color: purple;
  border-width: 5px;
  border-style: solid; /* border-style is required for border to be visible */
  margin-top: 100px;
  margin-bottom: 25px;
  padding: 0;

}

h1 {
  color: #bf66a3;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #bf66a3;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #bf66a3;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #dbf690 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: yellow;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background: linear-gradient(300deg, #4C0865,  #7E0981,#640579);
  margin-top: 50px;
  padding: 50px 0 20px;
  animation: gradients 15s ease infinite;
  background-size: 300% 300%;
}
  @keyframes gradients {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chill-cat-img {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #7E0981;
  background-image: -webkit-linear-gradient(top, #7E0981, #640579);
  background-image: -moz-linear-gradient(top, #7E0981, #640579);
  background-image: -ms-linear-gradient(top, #7E0981, #640579);
  background-image: -o-linear-gradient(top, #7E0981, #640579);
  background-image: linear-gradient(to bottom, #7E0981, #640579);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #c5f128;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7E0981;
  background-image: -webkit-linear-gradient(top, #e8a4e9, #834a90);
  background-image: -moz-linear-gradient(top, #e8a4e9, #834a90);
  background-image: -ms-linear-gradient(top, #e8a4e9, #834a90);
  background-image: -o-linear-gradient(top, #e8a4e9, #834a90);
  background-image: linear-gradient(to bottom, #e8a4e9, #834a90);
  text-decoration: none;
}

.parent {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  row-gap: 2rem;
}

/* .typing {
  grid-area: 1 / 1 / 3 / 3;
}
.coding {
  grid-area: 1 / 1 / 2 / 2;
}
.chillies {
  grid-area: 1 / 2 / 2 / 3;
}
.hot-wings {
  grid-area: 2 / 1 / 3 / 2;
} */
